:root {
    --orange: #f3ac3c;
    --olive: #998235;
    --dark: #1A4341;
}

/*--- reuseable styles ---*/
.flex {
    display: flex;
}

.container,
.circle-two,
.inner-circle-one {
    align-items: center;
    justify-content: center;
}

.container {
    width: 500px;
    height: 450px;
    background-color: var(--orange);
    margin: auto;
}

/* ---circle-one--- */
.circle-one {
    width: 180px;
    height: 174px;
    background-color: var(--olive);
    align-items: center;
    z-index: 0;
}

.circle {
    border-radius: 100px;
}

.stick-one {
    margin-left: 36%;
    width: 15px;
    height: 50px;
    background-color: var(--dark);
    border-radius: 7px;
}

/* ---circle-two--- */

.circle-two {
    width: 130px;
    height: 128px;
    background-color: var(--olive);
    margin-left: -50px;
    z-index: 1;
}

.inner-circle-one {
    width: 70px;
    height: 70px;
    background-color: var(--orange);
}

.inner-circle-two {
    width: 56px;
    height: 56px;
    background-color: var(--dark);
}